{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div>

    <h1>{{ post.title }}</h1>
    <p>{{ post.description }}</p>

</br>
  <h2>Send comment</h2>
  {{ form_start(commentForm) }}
  {{ form_widget(commentForm) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
  {{ form_end(commentForm) }}
</div>
</br>

<div>
  <h2>Commentaires</h2>
  {% for comment in post.comments %}
    <strong>Username : {{ comment.username }}</strong>
    <p>Comment : {{ comment.content }}</p>
    <small>Published : {{ comment.createdAt ? comment.createdAt|date('d/m/Y H:i') : '' }}</small>
  {% else %}
    <p>No comments yet.</p>
  {% endfor %}
</div>

{% endblock %}